* {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.upperHeader {
  background-color: #343434;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#swiper {
  background-color: #343434;
  height: 170px;
  display: flex;
  align-items: center;
  top: -5px;
  z-index: 10;
  min-height: 70px;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.swiperItem {
  background-color: #434343;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  width: 135px !important;
}

.swiperItem img {
  width: 80px;
  height: 80px;
  margin: 10px 0 10px 0;
  border-bottom: 2px solid #545454;
}

.info {
  font-size: 20px;
}

.active {
  background-color: #434343;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 150px !important;
  width: 135px !important;
  border: 3px dashed #d9d9d9 !important;
  display: block !important;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px 5%;
  background-color: #343434;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  display: inline-block;
  width: 55px;
  height: auto;
}

.logoContainer p {
  color: #fff;
  font-size: 16px;
  margin-left: 8px;
}

.logoContainer p span {
  color: #e03434;
  margin-left: 3px;
}

.cartHeader a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .logoContainer p {
    color: #fff;
    font-size: 25px;
    margin-left: 8px;
  }

  .cartHeader a {
    color: #fff;
    text-decoration: none;
  }
}

.link a {
  background-color: #434343;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  width: 135px !important;
  display: block !important;
}
